<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269270983459-r5q40djkeklekl5qrn4dbe0m79g235ta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269270983459-r5q40djkeklekl5qrn4dbe0m79g235ta</string>
	<key>API_KEY</key>
	<string>AIzaSyDx82MHbtO8rR0ZbsqvUgMrj9ZAAP_EI_E</string>
	<key>GCM_SENDER_ID</key>
	<string>269270983459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dating.matter.japan</string>
	<key>PROJECT_ID</key>
	<string>matter-japan</string>
	<key>STORAGE_BUCKET</key>
	<string>matter-japan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269270983459:ios:53e2edb269584d7145e296</string>
</dict>
</plist>